body{
    margin:0 auto;
    width:100%;
    padding:0;
    overflow-x: hidden;
    box-sizing: border-box;
}
/*------HEADER------*/
.header-container{
    width:100%;
    margin:0;
    padding:0;
    height:53px;
    background-color:#F7A100;
    display: block;
}
.header-content{
    max-width: 980px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
/*-------LOGO------*/
.logo{
    width:100px;
    padding:8px 20px;
    float: left;
}
.logo img {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}
/*------MENU-LIST------*/

.menu-item {
    list-style-type: none;
    border-right: 1px solid #DE9000;
    margin: 0;
    margin-right: -1px;
    padding: 0;
    float: right;
}
.list-item {
    float: left;
    height: 100%;
    margin: 0px;
    padding: 0;
    border-top: none;
    border-left: 1px solid #DE9000;
}
.menu-item a {
    text-decoration: none;
    display: block;
    padding: 10px 1.5rem;
    color: #fff;
    line-height: 30px;
    background: #F7A100;
    position: relative;
}
.menu-item a:hover{
    background:rgba(223, 154, 63, 0.829);
}
@media only screen and (max-width:860px){
    .menu-item{
        position:static;
        float:none;
        display: block;
    }
    .list-item {
        border-top: 1px solid #DE9000;
    }
    .menu-item .list-item,
    .list-item a {
        width: 100%;
    }
    .menu-item a{
        padding-left:2%;
        padding-right:0;
        width:98%;
    }
}
/*=======SEARCH-BANNER=======*/
.search-banner{
    margin:0 auto;
    display:block;
    background-image: url(images/woonboot-winter-silhouet.svg);
    background-color: rgba(135, 206, 235, 0.25);
    background-repeat: no-repeat;
    overflow:auto;
    clear: both;
    background-position: 50% 5%;
}
.pic-banner{
    max-width:980px;
    margin-right:auto;
    margin-left:auto;
    padding:0;
}
.pic-left,.middle{
    float: left;
}
.pic-left{
    width:15%;
    margin-top:10px;
}
.pic-right{
    float: right;
    width:40%;
}
.pic-right img{
    width:100%;
    margin-top:25px;
}
.middle {
    width:30%;
    margin: 60px 0 35px 0;
    font-size: 1.6rem;
    line-height: 8.5vh;
    color: #53241B;
}
@media only screen and (max-width: 850px) {
    .pic-left {
        display: none;
    }
}
@media only screen and (max-width:760px){
    .middle{
        display:none;
    }
}
/*======SEARCH-NAV-BLOCK======*/
.search-block{
    max-width:980px;
    box-sizing: border-box;
    margin:0 auto;
    background-color: #F7A100;
    margin-bottom:1%;
    padding-bottom: 6%;
    display:block;
    clear:both;
    position: relative;
}
.search-navigation{
    display: inline-block;
    width:100%;
    margin:0 auto;
    clear: both;
    box-sizing: border-box;
}
.search-navigation-list{
    list-style-type: none;
    margin:0;
    width:100%;
}
.search-navigation-list li{
    float: left;
    display: block;
    background-color: #F7A100;
    padding:0;
    margin-top:2%;
    margin-bottom:2%;
}
.search-navigation-list a{
    text-decoration: none;
    display:block;
    font-size:1.2em;
    padding: 10px 1.5rem;
    position: relative;
    color:white;
}
.search-navigation-list a:hover{
    background:rgba(223, 154, 63, 0.829);
}
@media only screen and (max-width:850px){
    .search-navigation-list{
        position:static;
        float:none;
        display:block;
    }
    .nav-list{
        width:100%;
        padding-left:0;
        border-bottom:1px solid rgb(190, 150, 81);
    }
    .search-navigation-list{
        width:100%;
        padding-left: 0;
    }
    .search-navigation-list a{
        padding-left:2%;
        padding-right:0;
        width:98%;
    }
}
/*============FORM=======*/
.search-form{
    box-sizing: border-box;
    background: #F7A100;
}
.form-content{
    width:100%;
    background: #F7A100;
    margin:0 auto;
    float:left;
    display:block;
    position: relative;
}
.search-head{
    padding-left: 2%;
}
.search-head input{
    width:40%;
    height: 2.75rem;
    font-size:1em;
    box-sizing: border-box;
    border:1px solid white;
    padding:3px;
    background:transparent;
    position: relative;
    float: left;
    display:block;
}
.search-range select{
    width:10%;
    font-size:1em;
    height:2.75rem;
    position: relative;
    box-sizing: border-box;
    border: 1px solid white;
    background:transparent;
    float: left;
    border-left:1px solid rgb(206, 186, 186);
    padding:3px;
    display:block;
}
.price-from select{
    height:2.75rem;
    float:left;
    font-size:1em;
    box-sizing: border-box;
    border:1px solid white;
    width:15%;
    margin-left:2%;
    background:transparent;
    padding:3px;
    margin-bottom:3%;
    position: relative;
    display:block;
}
.price-to select{
    height:2.75rem;
    float:left;
    font-size:1em;
    box-sizing:border-box;
    border:1px solid white;
    width:15%;
    margin-left:2%;
    background:transparent;
    padding:3px;
    margin-bottom:3%;
    position: relative;
    display:block;
}
.form-content button{
    width:10%;
    height:2.75rem;
    background-color:rgb(148, 197, 236);
    border-radius: 2%;
    border:1px solid white;
    margin-left:2%;
    padding:3px;
    margin-bottom:3%;
    cursor: pointer;
}
@media only screen and (max-width:850px){
    .search-head input{
        width:70%;
        margin-bottom:3%;
    }
    .search-range select{
        width:28%;
        margin-bottom:3%;
        margin-right: 2%;
    }
    .range-input{
        width:100%;
    }
    .price-from select,.price-to select{
        width:47%;
        display: block;
    }
    .form-content button{
        width:96%;
    }
}
@media only screen and (max-width:420px){
    .price-from select,.price-to select{
        width:96%;
        float:none;
        display: block;
    }   
}
@media only screen and (max-width:320px){
    .search-head input{
        float:none;
        width:97.5%;
        display: block;
    }
    .search-range select{
        float:none;
        width:97.5%;
    }
}
/*=========LINK=======*/
.useful-links{
    max-width: 980px;
    font-size:1.1em;
    padding:3%;
    margin:0 auto;
    display:block;
    clear: both;
    position: relative;
}
.useful-links a{
    text-decoration:none;
}
.content{
    max-width:980px;
    margin:0 auto;
    margin-top:1%;
}
@media only screen and (max-width:500px) {
    .useful-links a {
        display: block;
        padding-left: 2%;
        line-height: 1.5em;
        color:rgb(100, 163, 247);

    }
}
/*=========ROW1========*/
.row-1{
    width:100%;
    margin:0 auto;
    display: block;
    display: flex;
    box-sizing: border-box;
    
}
.pic-2 ul{
    list-style-type: none;
    padding-left: 0;
}
.pic-2 a{
    text-decoration: none;
}
.pic-1 a{
    text-decoration: none;
}
.pic-1{
    flex:1;
}
.pic-1 img{
    width:100%;
}
.pic-2{
    flex:2;
}
.pic-2 h2{
    width:100%;
}
.pic-2 img{
    width:100%;
}
.content-pic-1{
    padding-right:1.5%;
    padding-left:1.5%;
}
.double{
    width:100%;
}
.list-flex{
    display:flex;
}
.house2{
    flex:1;
    width:100%;
    padding-right:1%;
    padding-left:1%;
}
.house3{
    flex:1;
    width:100%;
    padding-right:1%;
    padding-left:1%;
}
@media only screen and ( max-width:820px){
    .house3{
        display: none;
    }
    .pic-1{
        flex:1;
        padding:2%;
    }
    .pic-2{
        flex:1;
        padding:2%;
    }
    .row-1 h2{
        font-size:1.3em;
        padding-left:2%;
    }
}
@media only screen and (max-width:500px){
    .row-1{
        flex-direction: column;
    }
}
/*========ROW2======*/
.row-2{
    width:100%;
    display:flex;
}
.left{
    flex:2;
    background-image: url(images/img4.jpg);
    background-repeat: no-repeat;
    border:1px solid white;
    text-align: center;
    margin:0 auto;
    box-sizing: border-box;
    background-position: center;
    overflow: auto;
    margin-left: 1%;
    margin-right:1%;
}
.left-text{
    color:white;
    font-size:2rem;
    text-align:center;
}
.left a{
    text-decoration: none;
}
.left-button{
    background: transparent;
    color:white;
    border:1px solid white;
    font-size:1.75em;
}
.right{
    flex:1;
    margin-right:1%;
    margin-left:1%;
}
.right img{
    width:100%;
}
.left img{
    width:100%;
}
@media only screen and (max-width:820px){
    .row-2{
        flex-direction: column;
        width:98%;
    }
    .left{
        flex:none;
        width:98%;
        display:block;
        box-sizing: border-box;
        height:262px;
        margin-right: 2%;
        margin-bottom:2%;
    }
    .left-text{
        display:block;
        width:100%;
    }
    .right{
        flex:none;
        margin:0 auto;
        width:50%;
        margin-top:0;
        display:block;
        box-sizing: border-box;
    }
}
/*========ROW3=======*/
.row-3{
    width:100%;
    margin-bottom:5%;
}
.row-3-details{
    display:flex;
}
.row-3 h2{
    padding-left:2%;
}
.details-left{
    width:100%;
    background-image: url(images/img6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: 0;
    flex:2;
    position: relative;
    margin-left:1%;
    margin-right:1%;
}
.pic-links {
    padding-top:30%;
}
.pic-links a{
    text-decoration: none;
    position: relative;
}
.details-right ul{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
}
.details-right{
    width:100%;
    flex:1;
    padding-left:3%;
    margin-left:1%;
    box-sizing: border-box;
}
.details-right img{
    float:left;
    margin-right: 5%;
}
.details-right p{
    display:inline;
    margin:0 auto;
    font-size:1.4em;
}
.details-right a{
    text-decoration: none;
    margin:0 auto;
}
.title1{
    font-size:1.5em;
    color:white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.title2{
    font-size: 1.2em;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}   
.title3{
    font-size: 1.3em;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width:820px){
    .row-3-details{
        flex-direction: column;
        padding-right:2%;
        padding-left: 1%;
    }
    .details-left{
        flex: none;
        padding-left:10%;
        width:100%;
    }
    .details-right{
        flex:none;
        width:100%;
        display:block;
        box-sizing: border-box;
    }
    .details-right ul{
        display: block;
        width:98%;
        padding:3%;
        padding-left:0;
        margin:0 auto;
    }
    .details-right li{
        width:100%;
        box-sizing: border-box;
        display: block;
    }
    .details-right p{
        font-size:1.2rem;
        width:100%;
        display: block;
        box-sizing: border-box;
        margin:8%;
    }
    .row-3 h2{
        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;
    }
}
/*===============ROW4=============*/
.row-4{
    display: flex;
    width:100%;
}
.business-left{
    flex:2;
    box-sizing: border-box;
    border:1px solid white;
    background: rgb(107, 151, 245);
    text-align: center;
    margin:0 auto;
    margin-right:3%;
    padding:2%;
}
.business-right{
    flex:1;
    box-sizing: border-box;
    border:1px solid white;
    background: rgb(183, 233, 245);
    padding:2%;
    margin:0 auto;
    text-align: center;
}
.business-right img{
    width:15%;
}
.business-right p{
    font-size: 1.3em;
    color:black;
}
.business-right a{
    text-decoration: none;
    line-height: 1.3em;
}
.business-left img{
    width:35%;
}
.business-left a{
    text-decoration: none;
    line-height: 1.5em;
}
.first-button{
    font-size:1.3em;
    color:white;
    box-sizing: border-box;
    border:1px solid white;
    padding:2%;
}
.second-button{
    font-size:1.3em;
    color:black;
    box-sizing: border-box;
    border:1px solid black;
    padding:4%;
}
.business-details{
    font-size:1.3em;
    color:white;
}
@media only screen and (max-width:820px){
    .row-4{
        flex-direction: column;
        width:100%;
    }
    .business-left{
        font-size: 1em;
        margin-left:2%;
        padding:1%;
        margin-bottom:3%;
    }
    .business-right p{
        font-size: 1em;
    }
    .first-button,.second-button{
        font-size:1.1em;
        margin:2%;
        padding:1%;
    }
}

/*===============FOOTER-LINKS===========*/
footer{
    max-width: 980px;
    margin:0 auto;
    padding:0;
    box-sizing: inherit;
    background:#EDEDED;
    margin-top:50px;

}
.footer-links{
    width:95%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-right:4%;
}
.column1, .column2, .column3, .column4{
    line-height: 1.5em;
    font-size: 1.2em;
    font-family:sans-serif;
}
.column1 li,.column2 li,.column3 li,.column4 li{
    list-style-type: none;
}
.column1 a, .column2 a, .column3 a, .column4 a{
    text-decoration: none;
    color:rgb(114, 120, 207);
    font-size: 1.1rem;
}
@media only screen and (max-width:529px){
    .footer-links{
        flex-wrap: wrap;
    }
}
/*========FOOTER-NAV===========*/
.footer-nav{
    width:100%;
    margin:0 auto;
    padding-bottom:30px;
}
.social{
    width:50%;
    float:left;
    padding-left:2%;
}
.social-details{
    float:left;
}
.help-links{
    float:left;
    padding-left:15%;
}
.help-links a{
    text-decoration: none;
}
.copyright-details{
    float: right;
    width:30%;
}@media only screen and (max-width:800px){
    .social{
        width:100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin:0 auto;
        float:none;
    }
    .social-details{
        width:100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin:0 auto;
        float:none;
    }
    .help-links{
        width:100%;
        display: block;
        box-sizing: border-box;
        margin:0 auto;
        text-align: center;
        float:none;
    }
    .copyright-details{
        width:100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        margin:0 auto;
        float:none;
    }
}
h2{
    font-size: 1.5em;
    color:black;
    font-family: sans-serif;
}
h2 a{
    text-decoration: none;
    color:black;
}
